body {
  background-color: #ffffff;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  margin-bottom: 50px;
  background-color: #3ac9c5;
}

.navIcon {
  height: 80px;
  width: 95px;
}

.link {
  font-family: "Bevan", serif;
  font-size: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 35px;
  margin-bottom: 30px;
  transition: 0.30s;
}

.link:hover {
  color: #FCB212;
}




.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 465px;
  background: #eeeeee;
  border-radius: 20px;
  margin: 0 auto;
}

.cadastro .imgCadastro {
  display: flex;
  align-items: center;
}

.cadastro .imgCadastro img {
  width: 750px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.cadastro .formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 70px;
  width: 800px;
  height: 465px;
}

.formulario input {
  width: 160px;
  height: 30px;
  margin-top: 7px;
  border: solid 2px #000000;
  border-radius: 17px;
}

::placeholder {
  color: black;
}

.formulario label {
  font-family: 'Lilita One', sans-serif;
}

.formulario input:not(:last-child) {
  margin-bottom: 30px;
  width: 155px;
}



.cadastro .formulario2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
  width: 800px;
  height: 465px;
}

.formulario2 input {
  width: 160px;
  height: 30px;
  margin-top: 7px;
  border: solid 2px #000000;
  border-radius: 17px;
}

.formulario2 label {
  font-family: 'Lilita One', sans-serif;
}

.formulario2 input:not(:last-child) {
  margin-bottom: 30px;
  width: 155px;
}

.cadastro .formulario3 {
  position: relative;
  top: 170px;
  right: 250px;
}           

.enviarCadastro input{
  width: 150px;
  height: 45px;
  border-radius: 27px;
  border: none;
  background: #3ac9c5;
  color: #ffffff;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  transition: 0.30s;
}

.enviarCadastro input:hover {
   background: #41dfd9;
}
