/* Estilos para o ícone do toggle */
.navbar-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 25px;
  padding: 5px;
  z-index: 1100; /* Garante que o ícone esteja acima do overlay */
}

.toggle-icon {
  height: 3px;
  background-color: #000;
  transition: transform 0.3s ease-in-out;
  z-index: 1100; /* Colocado acima do overlay e do ícone do menu */
}

/* Estilos para o overlay */
.navbar-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  display: none;
  z-index: 1000; /* Colocado abaixo do menu */
}

/* Estilos para o menu */
.navbar-menu {
  position: fixed;
  top: 0;
  left: -100%; /* Começa fora da tela */
  width: 58%; /* Ajuste conforme necessário */
  height: 100%;
  background-color: #fff; /* Cor de fundo para visualização */
  transition: transform 0.3s ease-in-out;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para destacar o menu */
}

.navbar-menu.active {
  transform: translateX(100%); /* Move para a posição visível */
}

.navbar-menu.active + .navbar-menu-overlay {
  display: block; /* Mostra o overlay quando o menu está aberto */
}
